<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="test.html" th:action="@{/newuser}" method="post" th:object="${user}">
        <input type="text " name="firstName" placeholder="first name" th:field="*{firstName}">
        <input type="text " name="lastName" placeholder="last name" th:field="*{lastName}">
        <input type="text " name="userName" placeholder="user name" th:field="*{userName}">
        <input type="email" name="email" placeholder="email name" th:field="*{email}">
        <input type="password" name="password" placeholder="password" th:field="*{password}">
        <input type="submit">
    </form>
</body>
</html>